img {
  max-height: 100vh;
  width: auto; 
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
}

img:hover {
  transform: translateY(-12px); /* Float the image up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 12px 40px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.timeline:hover {
  transform: translateY(-12px); /* Float the image up by 10px */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 12px 40px rgba(0, 0, 0, 0.15); /* Enhance shadow on hover */
}

.container {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Change to column on mobile screens */
  }
  .timeline {
    margin-top: 10px;
    padding-top: 2rem;
  }
}
